* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

/*
    Below is the styling for the main section of the web page
*/
.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

header {
  margin: 20px;
}

header h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

.main p {
  margin: 20px;
  font-size: 1.1rem;
}

.main p span {
  background-color: #d8d2c9;
  color: #d40d0d;
  padding: 1px 15px;
  border-radius: 5px;
}

.main .btn_increment {
  background-color: #bfe7ec;
  margin: 10px;
  font-size: 1.2rem;
  padding: 5px 7px;
  border: none;
  box-shadow: 1px 1px 3px 3px#818c8d;
  border-radius: 5px;
  cursor: pointer;
}

/*
    Below is the styling for the login section of the web page
*/

.login_page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 2s;
}

.login_page.finished {
  top: 100vh;
}

.login_box {
  padding: 10px;
  width: 400px;
  height: 500px;
  border: 1px solid black;
  border-radius: 10px;
}

.login_box h2 {
  margin-bottom: 20%;
}

.login_box .entered_username {
  margin-top: 10%;
}

.login_box .btn_login {
  display: block;
  margin-top: 10%;
  padding: 2px 10px;
  cursor: pointer;
}
